.navbar {
    background-color: #050404 !important;
    padding: 20px;
}


.hero-section {
    height: 50vh;
    background: url("https://images5.alphacoders.com/606/thumb-1920-606284.jpg") center/cover no-repeat;
    position: relative;
}


.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}


.hero-section>div {
    position: relative;
    z-index: 2;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.glass-card input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}

.glass-card input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.main-page {
    background-color: white;
}

.card-img-top {
    width: 100%;
    height: 100;
    aspect-ratio: 3/4;
    object-fit: contain;


}

.card {
    height: 100%;
    max-height: 420px;
    overflow: hidden;
}

.card-body {
    padding: 8px;
}

.home-page body {
    margin: 0;
    font-family: Arial;
    background: #0d0d0d;
    color: rgb(22, 18, 18);
}


.navbar {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}


.hero {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(47, 31, 31, 0.5);
}

.hero-content {
    position: absolute;
    bottom: 20px;
    left: 40px;
}


.section-title {
    margin: 30px 0 10px;
    font-weight: bold;
}


.card {
    background: #1a1a1a;
    color: white;
    border: none;
    overflow: hidden;
    transition: 0.3s;
    height: 100%;
    max-height: 450px;
}

.card:hover {
    transform: scale(1.03);
}


.card img {
    width: 100%;
    height: 250px;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: top;
}

.card-body {
    padding: 10px;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.dropdown-menu {
    min-width: 200px;
}

.dropdown-item {
    padding: 12px;
    font-size: 16px;
}

.hero {
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}