
.navbar {
    background-color: #0c0c0c !important;
    padding: 20px;
}


#hero {
    height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}


.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    width: 100%;
}
body {
    margin: 0;
    font-family: Arial;
    background: #0d0d0d;
    color: rgb(22, 18, 18);
}


.navbar {
    background: rgba(0,0,0,0.7);
    padding: 20px
    ;
}


.hero {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(47, 31, 31, 0.5);
}

.hero-content {
    position: absolute;
    bottom: 20px;
    left: 40px;
}


.section-title {
    margin: 30px 0 10px;
    font-weight: bold;
}


.card {
    background: #1a1a1a;
    color: white;
    border: none;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
